<!Doctype html>
<html>
<head>
    <title>Portfolio - Max Latussek</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/axios@0.26.1/dist/axios.js"></script>
    <script crossorigin src="/index.js"></script>
</head>
<body>
<div id="portfolioApp">
</div>
</body>
</html>